@use "./mixin" as *;
@use "./variables" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

.navBar {
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    height: 5rem;
    padding-top: 1rem;
  }

  &__logo {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    margin: 1rem 0 0 0;
    transition: all 0.2s;

    @include tablet {
      height: 100%;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin: 0 4rem 0 2.5rem;
      display: flex;
      align-items: center;
    }
    @include desktop {
      margin: 0 4rem 0 10rem;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  &__menu {
    display: flex;
    width: 100%;
    align-items: center;

    @include tablet {
      justify-content: start;
      height: 100%;
    }
  }
  &__item {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0;
    width: 50%;

    color: $Mercury;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;

    @include tablet {
      height: 95%;
      width: fit-content;
      margin-right: 4rem;
      padding: 0;
      display: flex;
      align-items: center;
    }
    &--active {
      color: white;
      border-bottom: 5px solid white;
    }
  }
}
