@use "./mixin" as *;
@use "./variables" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  z-index: 1;
  transition: all 0.5s;

  &:hover {
    color: white;
  }
}

.navBar {
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    height: 5rem;
    padding-top: 1rem;
  }

  &__logo {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 0 0;
    transition: all 0.2s;

    @include tablet {
      height: 100%;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin: 0 4rem 0 2.5rem;
      display: flex;
      align-items: center;
    }
    @include desktop {
      margin: 0 4rem 0 10rem;
    }

    &:hover {
      color: pink;
    }
  }
  &__menu {
    display: flex;
    width: 100%;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    @include tablet {
      justify-content: start;
      height: 100%;
    }
  }
  &__item {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0;
    width: 50%;
    color: $Mercury;

    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;

    @include tablet {
      height: 95%;
      width: fit-content;
      margin-right: 4rem;
      padding: 0;
      display: flex;
      align-items: center;
    }
    &--active {
      border-bottom: 5px solid white;
      color: white;
    }
  }
}

.footbar {
  background-color: $BandSite-Black;
  color: white;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  position: relative;
  margin-top: 1rem;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  @include desktop {
    padding: 2rem 10rem;
  }

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__middle {
    width: 100%;
    @include tablet {
      display: flex;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    margin-right: 2rem;
  }
  &__company {
    font-weight: 600;
  }

  &__logo {
    font-weight: lighter;
    margin-top: 3rem;
    max-width: 7.5rem;
    max-height: 1.25rem;
    @include tablet {
      position: absolute;
      top: 0.5rem;
      right: 3rem;
    }
    @include desktop {
      right: 10rem;
    }
  }

  &__title {
    @include tablet {
      margin-right: 2rem;
      font-size: 2.25rem;
    }
  }
  &__block {
    @include tablet {
      margin-right: 4%;
    }
  }
  &__email {
    color: silver;
  }
}
