@use "./partial/global" as *;
@use "./partial/variables" as *;
@use "./partial/mixin" as *;

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 65vw;
  margin-block-start: 0;

  @include tablet {
    height: 55vw;
  }

  @include desktop {
    height: 50vw;
  }

  &__darken {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(50, 50, 50, 0.75);
  }

  &__title {
    color: white;
    position: absolute;
    font-weight: 600;
    top: 35%;
    left: 1rem;

    @include tablet {
      font-size: 3.55rem;
      left: 2.5rem;
    }
    @include desktop {
      font-size: 4.5rem;
      left: 10rem;
    }
  }
}
