@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  z-index: 1;
  transition: all 0.5s;
}
a:hover {
  color: white;
}

.navBar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: row;
    height: 5rem;
    padding-top: 1rem;
  }
}
.navBar__logo {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0 0 0;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .navBar__logo {
    height: 100%;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0 4rem 0 2.5rem;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .navBar__logo {
    margin: 0 4rem 0 10rem;
  }
}
.navBar__logo:hover {
  color: pink;
}
.navBar__menu {
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .navBar__menu {
    justify-content: start;
    height: 100%;
  }
}
.navBar__item {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0;
  width: 50%;
  color: #e1e1e1;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .navBar__item {
    height: 95%;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.navBar__item--active {
  border-bottom: 5px solid white;
  color: white;
}

.footbar {
  background-color: #323232;
  color: white;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  position: relative;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .footbar {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footbar {
    padding: 2rem 10rem;
  }
}
.footbar__top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footbar__top {
    flex-direction: row;
  }
}
.footbar__middle {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footbar__middle {
    display: flex;
  }
}
.footbar__icon-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footbar__icon {
  height: 2rem;
  margin-right: 2rem;
}
.footbar__company {
  font-weight: 600;
}
.footbar__logo {
  font-weight: lighter;
  margin-top: 3rem;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footbar__logo {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footbar__logo {
    right: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .footbar__title {
    margin-right: 2rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footbar__block {
    margin-right: 4%;
  }
}
.footbar__email {
  color: silver;
}

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 60vw;
  margin-block-start: 0;
}
.hero__darken {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  color: white;
  position: absolute;
  font-weight: 600;
  top: 35%;
  left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.55rem;
    left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 4.5rem;
    left: 10rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 10vw;
  }
}
.about__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-block-end: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 3.55rem;
    margin: 6rem 0 2rem 0;
  }
}
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__quotate {
  width: 100%;
  color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__quotate {
    margin-top: 2rem;
    width: 85%;
  }
}
.about__img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  aspect-ratio: 16/9;
}
.about__dec {
  font-weight: 600;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__dec {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}
.about__role {
  font-weight: 600;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__role {
    font-size: 1.5rem;
  }
}
.about__name {
  color: black;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .about__name {
    font-size: 2.75rem;
    margin-block-end: 1rem;
  }
}
.about__story {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__story {
    display: flex;
    justify-content: space-between;
  }
}
.about__paragraph {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about__paragraph {
    max-width: 48%;
  }
}

.gallary {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallary {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallary {
    padding: 0 10vw;
  }
}
.gallary__title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 600;
  margin-block-end: 0;
}
.gallary__container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallary__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallary__img {
  background-position: center;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .gallary__img {
    margin: 0;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .comment {
    padding: 0 3rem 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    padding: 0 10vw 0 10vw;
  }
}
.comment__title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 600;
  margin-block-end: 0;
}
.comment__block {
  width: 100%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .comment__block {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__block {
    padding-left: 20%;
    padding-right: 20%;
  }
}
.comment__area {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 3px solid #e1e1e1;
}
.comment__portrait {
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 3rem 1rem 0 0;
}
.comment__form {
  width: 85%;
}
.comment__input-area {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
.comment__label {
  color: #afafaf;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.comment__input {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid #afafaf;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
}
.comment__input::-moz-placeholder {
  color: black;
}
.comment__input::placeholder {
  color: black;
}
.comment__input:focus::-moz-placeholder {
  opacity: 0;
}
.comment__input:focus::placeholder {
  opacity: 0;
}
.comment__button {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  height: 3rem;
  background-color: #323232;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .comment__button {
    width: 12rem;
    margin-left: calc(100% - 12rem);
  }
}/*# sourceMappingURL=bio.css.map */