@use "./partial/global" as *;
@use "./partial/variables" as *;
@use "./partial/mixin" as *;

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 60vw;
  margin-block-start: 0;

  &__darken {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(50, 50, 50, 0.5);
  }

  &__title {
    color: white;
    position: absolute;
    font-weight: 600;
    top: 35%;
    left: 1rem;

    @include tablet {
      font-size: 3.55rem;
      left: 2.5rem;
    }
    @include desktop {
      font-size: 4.5rem;
      left: 10rem;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0 10vw;
  }

  &__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-block-end: 0.5rem;

    @include tablet {
      font-size: 3.55rem;
      margin: 6rem 0 2rem 0;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__quotate {
    width: 100%;
    color: $BandSite-Black;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-top: 2rem;
      width: 85%;
    }
  }

  &__img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    aspect-ratio: 16/9;
  }
  &__dec {
    font-weight: 600;
    line-height: 1.5rem;

    @include tablet {
      font-size: 2.25rem;
      line-height: 3rem;
    }
  }

  &__role {
    font-weight: 600;
    line-height: 1.5rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__name {
    color: black;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    margin-block-end: 0;

    @include tablet {
      font-size: 2.75rem;
      margin-block-end: 1rem;
    }
  }

  &__story {
    width: 100%;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__paragraph {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    color: $BandSite-Black;

    @include tablet {
      max-width: 48%;
    }
  }
}

.gallary {
  padding: 0 1rem;

  @include tablet {
    padding: 0 3rem;
  }
  @include desktop {
    padding: 0 10vw;
  }

  &__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin-block-end: 0;
  }

  &__container {
    width: 100%;

    @include tablet {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__img {
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0.5rem 0;

    @include tablet {
      margin: 0;
    }
  }
}
