@use "./partial/global" as *;
@use "./partial/variables" as *;
@use "./partial/mixin" as *;

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  color: white;

  &__layer {
    height: 100%;
    width: 100%;
    padding: 2rem 1rem;
    background-color: rgba(50, 50, 50, 0.5);

    @include tablet {
      padding: 2rem 2.5rem;
    }
    @include desktop {
      padding: 15vw 10vw;
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
  }
  &__title {
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
  &__sub-title {
    margin-block-start: 0;
    font-size: 2rem;
    font-weight: 600;
    width: 18rem;
    line-height: 2.75rem;
    @include tablet {
      width: 40rem;
      font-size: 3.75rem;
      line-height: 5rem;
      font-weight: 700;
    }
  }

  &__right {
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 4rem;
    }
  }
  &__player {
    border: none;
    height: 8.5rem;
    width: 100%;
    @include tablet {
      width: 26rem;
    }
    @include desktop {
      width: 32vw;
      height: 9rem;
    }
  }
}

.shows {
  padding: 1rem 0;
  margin-bottom: 1rem;

  @include tablet {
    padding: 2rem 2.5rem;
  }
  @include desktop {
    padding: 5vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__list {
    width: 100%;

    @include desktop {
      width: 80%;
    }
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    padding-left: 1rem;
    margin-block-end: 0;

    @include tablet {
      margin-block-end: 2rem;
    }

    @include desktop {
      margin-block-start: 0;
      line-height: 1rem;
    }
  }
  &__heading {
    color: $Sliver;
    font-weight: 600;
    font-size: 1rem;

    &--top {
      display: none;
      padding: 0 1rem;

      @include tablet {
        display: flex;
        justify-content: start;

        width: 85%;
      }
    }
    &--block {
      @include tablet {
        display: none;
      }
    }
  }

  &__block {
    width: 100%;
    border-bottom: 3px solid $Mercury;
    padding-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
    }
    &:hover {
      background-color: $Mercury;
    }
    &--active {
      background-color: $Mercury;
    }
  }
  &__date {
    font-weight: 600;
  }
  &__button {
    width: 100%;
    height: 3.5rem;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: $BandSite-Black;
    border: none;
    border-radius: 5px;
    transition: 0.3s all;

    @include tablet {
      width: 22%;
      font-size: 1.25rem;
      height: 3rem;
      line-height: 3rem;
    }

    &:active {
      scale: 0.95;
    }
    &--active {
      background-color: rgb(107, 107, 107);
    }
  }
  &__type {
    display: inline;
    width: 33%;

    &--second {
      width: 27%;
    }
  }
}
